*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
    flex-grow:1;
    flex-wrap:wrap;
    
}
body{
    flex-grow:1;
    display: block;
    padding:2%;
    background: #222b2b;
    overflow-x:scroll;
}
.header{
    background-color: black;
    position:fixed;
    top:0;
    left: 0;
    padding: 1%;
    width:100%;
    align-content:center;
    z-index: 100;
} 
.navbar a{
    position: relative;
    color: white;
    display: inline-flex;
    padding: 1% 0% 1% 1%;
    font-size: small;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}
.greet{
    color: white;
}
.logo{
    white-space: nowrap;
    border: 10px;
    height: 15rem;
    width: 150px;
    margin: -10px;
    padding:2%;
    font-size: 200%;
    color:white;
    font-weight: 500;
    text-shadow: 0 0 10px rgb(248,0,248) ;
    transition:0.3s ease;
}
.intro{
    white-space: nowrap;
    margin: -10px;
    padding: 20px;
}
.navbar a:hover{
    color: black;
    border-radius: 25px;
    background-color: rgb(248,0,248);
    border:2px solid rgb(0,0,0);
    box-shadow: 0 0 10px 0 rgb(248,0,248) ;
    padding: 0% 1% 0% 1%;
    font-weight: bolder;
}
span.role{
    margin: -10px;
    text-overflow: clip;
    height: 20%;
    width: 20%;
    padding: 3%;
    color: rgb(248,0,248);
    text-shadow:0 0 10px rgb(248,0,248);
    font-style: italic;
    font-size: 120%;
}
.resume{
    color:black;
    box-shadow: 0 0 15px 0 rgb(248,0,248);
    background-color:rgb(248,0,248);
    border-radius: 25px;
    border: 2px solid black;
    padding:2% 3% 2% 3%;
    font-size: small;
    font-weight: bolder;
}
.resume:hover{
    border:2px solid rgb(248,0,248);
    color:white;
    box-shadow: 0 100px 10px 0 black inset ;
}
::-webkit-scrollbar{
    width: 5px ;
}
::-webkit-scrollbar-thumb{
    background-color:black;
}
::-webkit-scrollbar-track{
    background-color:black;
}
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
heading span{
    color:white;
    font-size: xx-large;
    font-weight: bolder;
}
heading span:hover{
    text-shadow:0 0 10px rgb(248,0,248) ;
    scale: 7px;
}
heading#about span{
    padding-left: 45%;
}
heading#certification span{
    padding-left: 42%;
    padding-top: 2%;
    padding-right: 10%;
    padding-bottom: 10%;
}
heading#skills span{
    padding-left: 45%;
}
heading#education span{
    padding-left: 40%;
}
heading#volunteering span{
    padding-left: 42%;
}
heading#contact span{
    padding-left: 45%;
}
.container1{
    position: relative;
    margin: 2%;
    width:100%;
    padding:5%;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap:nowrap;
    flex-flow: nowrap;
}
.c1sec1{
    height: 150%;
    padding:10% 5% 10% 10%;
    margin:1% 1% 1% 5%;/*
    margin: -10px;*/
    width: 100%;
}
.c1sec2{
    padding:10% 10% 10% 5%;
    margin: 1% 5% 1% 5%;
    width: 100%;
}
img{
    box-shadow: 0 0 25px 0 rgb(248,0,248);
    height: 300px;
    width: 200px;
}
.container2{
    padding: 5px;
    position: relative;
    width:100%;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap:nowrap;
    flex-flow: nowrap;
    column-gap: 7cm;
}
.c2sec1{
    padding-left: 10%;
}
.c2sec2{
    padding:5%;
    color: white;
    font-size: 100%;
    font-weight: 250%;
}
.clip{
    height: 15px;
    width: 15px;
}
.details{
    height: 100%;
    width: 100%;
    padding: 10%;
    color:white;
    text-align: center;
    text-transform: capitalize;
}
.image-card{
    position:relative;
    width:800px;
    height: 400px;
    background: repeating-conic-gradient(from var(--a),#ff2770 0%,rgb(248,0,248) 5%,transparent 5%,transparent 50%,#ff2770 50%);  
    animation:animate 4s linear infinite;
}
@property --a{
    syntax:'<angle>';
    inherits:false;
    initial-value:0deg;
}
@keyframes animate{
    0%{
        --a:0deg;
    }
    100%{
        --a:360deg;
    }
}
.container3{
    color: white;
    row-gap: 20%;
    padding-left: 20%;
}
cn1{
    padding-left: 36%;
    text-transform: uppercase;
}
ct1{
    padding-left: 32%;
    text-transform: capitalize;
}
cn2{
    padding-left: 33%;
    text-transform: uppercase;
}
ct2{
    padding-left: 22%;
    text-transform: capitalize;
}
cn3{
    padding-left: 30%;
    text-transform: uppercase;
}
ct3{
    padding-left: 27%;
    text-transform: capitalize;
}
cn4{
    padding-left: 28%;
    text-transform: uppercase;
}
ct4{
    padding-left: 20%;
    text-transform: capitalize;
}
cn5{
    padding-left: 30%;
    text-transform: uppercase;
}
ct5{
    padding-left: 18%;
    text-transform: capitalize;
}
cn6{
    padding-left: 30%;
    text-transform: uppercase;
}
ct6{
    padding-left: 25%;
    text-transform: capitalize;
}
cn7{
    padding-left: 30%;
    text-transform: uppercase;
}
ct7{
    padding-left: 26%;
    text-transform: capitalize;
}
.image-card::before{
    content:"";
    position:absolute;
    width:800px;
    height:100%;
    background: repeating-conic-gradient(from var(--a),#ff2770 0%,rgb(248,0,258) 5%,rgb(258,0,248) 5%,transparent 5%,transparent 50%,#ff2770 50%);
    animation:animate 4s linear infinite;
    animation-delay: -1s;
    border-radius: 10px;
}
.image-card::after{
    content: "";
    position:absolute;
    inset:8px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    border: 8px solid black;
}
#c1::after{
    background-image: url(guviPython.jpg);
}
#c2::after{
    background-image: url(IBMwebDevelopment.jpg);
}
#c3::after{
    background-image: url(InfosysSoftwareEngineering.jpg);
}
#c4::after{
    background-image: url(GLfullStackDevelopment.jpg);
}
#c5::after{
    background-image: url(postmanExpert.jpg);
}
#c6::after{
    background-image: url(professionalSkills.jpg);
}
#c7::after{
    background-image: url(HackerRank_Python_basic_Certificate.jpg);
}
.container4{
    color:white;
    position: relative;
    margin: 1%;
    width:100%;
    padding:2%;
    gap: 3cm;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap:nowrap;
    flex-flow: nowrap;
}
.c4sec1{
    padding: 5% 5% 5% 25%;
    width: 50%;
    height: 50%;
}
.c4sec2{
    padding:5% 25% 5% 5%;
    width: 50%;
    height:50px;
}
.c4sec1 h4,.c4sec2 h4{
    text-align:justify;
}
.skill1-1,.skill1-2{
    position: relative;
    width: 100px;
    height: 100px;
}
.skill2-1,.skill2-2{
    position: relative;
    width: 100px;
    height: 100px;
}
.skill3-1,.skill3-2{
    position: relative;
    width: 100px;
    height: 100px;
}
.skill4-1,.skill4-2{
    position: relative;
    width: 100px;
    height: 100px;
}
.skill1-1::before{
    content: "";
    position: absolute;
    height:100px;
    width: 130px;
    background: conic-gradient(from var(--b),rgb(248,0,248) 0%,rgb(248,0,248) 94%, transparent 5%);
    animation-name: animat;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 10;
    border-radius: 0%;
    rotate: 180deg;
    box-shadow: 0 0 15px 0 rgb(248,0,248) inset;
}
.skill1-1::after{
    content: "94% Advanced 4years";
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius:5%;
    align-content: center;
    width: 110px;
    height: 80px;
    box-shadow:0 100px 0 0 black inset;
    z-index: 1;
}
.skill1-2::before{
    content: "";
    position: absolute;
    height:100px;
    width: 150px;
    background: conic-gradient(from var(--b),rgb(248,0,248) 0%,rgb(248,0,248) 70%, transparent 25%);
    animation-name: animat;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 10;
    border-radius: 0%;
    rotate: 180deg;
    box-shadow: 0 0 15px 0 rgb(248,0,248) inset;
}
.skill1-2::after{
    content: "70% Intermediate";
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius:5%;
    align-content: space-around;
    width: 130px;
    height: 80px;
    box-shadow:0 100px 0 0 black inset;
    z-index: 1;
}
.skill2-1::before{
    content: "";
    position: absolute;
    height:100px;
    width: 130px;
    background: conic-gradient(from var(--b),rgb(248,0,248) 0%,rgb(248,0,248) 74%, transparent 25%);
    animation-name: animat;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 10;
    border-radius: 0%;
    rotate: 180deg;
    box-shadow: 0 0 15px 0 rgb(248,0,248) inset;
}
.skill2-1::after{
    content: "74% Intermediate 1.5Year";
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius:5%;
    width: 110px;
    height: 80px;
    align-content: space-around;
    box-shadow:0 100px 0 0 black inset;
    z-index: 1;
}
.skill2-2::before{
    content: "";
    position: absolute;
    height:100px;
    width: 150px;
    background: conic-gradient(from var(--b),rgb(248,0,248) 0%,rgb(248,0,248) 75%, transparent 25%);
    animation-name: animat;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 10;
    border-radius: 0%;
    rotate: 180deg;
    box-shadow: 0 0 15px 0 rgb(248,0,248) inset;
}
.skill2-2::after{
    content: "75% Intermediate";
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius:5%;
    width: 130px;
    height: 80px;
    align-content: space-around;
    box-shadow:0 100px 0 0 black inset;
    z-index: 1;
}
.skill3-1::before{
    content: "";
    position: absolute;
    height:100px;
    width: 130px;
    background: conic-gradient(from var(--b),rgb(248,0,248) 0%,rgb(248,0,248) 75%, transparent 25%);
    animation-name: animat;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 10;
    border-radius: 0%;
    rotate: 180deg;
    box-shadow: 0 0 15px 0 rgb(248,0,248) inset;
}
.skill3-1::after{
    content: "75% Intermediate 1Year";
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius:5%;
    width: 110px;
    height: 80px;
    align-content: space-around;
    box-shadow:0 100px 0 0 black inset;
    z-index: 1;
}
.skill3-2::before{
    content: "";
    position: absolute;
    height:100px;
    width: 120px;
    background: conic-gradient(from var(--b),rgb(248,0,248) 0%,rgb(248,0,248) 80%, transparent 25%);
    animation-name: animat;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 10;
    border-radius: 0%;
    rotate: 180deg;
    box-shadow: 0 0 15px 0 rgb(248,0,248) inset;
}
.skill3-2::after{
    content: "80% Advanced";
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius:5%;
    width: 100px;
    height: 80px;
    align-content: space-around;
    box-shadow:0 100px 0 0 black inset;
    z-index: 1;
}
.skill4-1::before{
    content: "";
    position: absolute;
    height:100px;
    width: 120px;
    background: conic-gradient(from var(--b),rgb(248,0,248) 0%,rgb(248,0,248) 60%, transparent 25%);
    animation-name: animat;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 10;
    border-radius: 0%;
    rotate: 180deg;
    box-shadow: 0 0 15px 0 rgb(248,0,248) inset;
}
.skill4-1::after{
    content: "60% Beginner 1Year";
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius:5%;
    width: 100px;
    height: 80px;
    align-content: space-around;
    box-shadow:0 100px 0 0 black inset;
    z-index: 1;
}
.skill4-2::before{
    content: "";
    position: absolute;
    height:100px;
    width: 120px;
    background: conic-gradient(from var(--b),rgb(248,0,248) 0%,rgb(248,0,248) 85%, transparent 25%);
    animation-name: animat;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 10;
    border-radius: 0%;
    rotate: 180deg;
    box-shadow: 0 0 15px 0 rgb(248,0,248) inset;
}
.skill4-2::after{
    content: "85% Advanced";
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius:5%;
    width: 100px;
    height: 80px;
    align-content: space-around;
    box-shadow:0 100px 0 0 black inset;
    z-index: 1;
}
@property --b{
    syntax:'<angle>';
    inherits:false;
    initial-value:180deg;
}
@keyframes animat{
    0%{
        --b:0deg;
    }
    100%{
        
        --b:270deg;
    }
}
.s1,.s2,.s3,.s4{
    padding: 4%;
}
.container5{
    color: white;
    row-gap: 5%;
    padding: 0% 0% 0% 15% ;
    display: block;
    width:100%;
    height:100%;
}
.college,.school{
    padding: 5%;
    height:200px;
    width: 100%;
}
.container6{
    color: white;
    height:100%;
    width: 100%;
}
.c6sec1{
    padding:2% 5% 2% 15%;
}
.c6sec2{
    padding: 2% 5% 2% 15%;
}
.container7{
    padding: 10%;
    height: 100%;
    width: 100%;
    color: white;
}
.c7sec1{
    block-size: auto;
    align-content: center;
    justify-content: center;
}
.c7sec1 div{
    padding: 0% 20% 15% 30%;
    display: flex;
    flex-wrap: nowrap;
    gap: 3cm;
}
i{
    font-size: 500%;
    border-radius: 50%;
    color: rgb(248,0,248);
    padding: 40%;
    box-shadow: 0 0 25px 0 rgb(248,0,248);
}
.c7sec2{
    display: flex;
    flex-wrap: nowrap;
    gap: 3cm;
}
.c7sec2 img{
    color: rgb(248,0,248);
    background-color: rgb(248,0,248);
    height: 64px;
    width: 64px;
    padding: 5%;
    border-radius: 50%;
}
.c7sec1 i:hover,.c7sec2 img:hover{
    background-color: white;
}
